.container_boxes{
    padding: 0px 0px 0px 5px;
    margin: 0px -37px 0px -19px;
    text-align: center;
    position: relative;
    z-index: 60;
    height: 800px;
    width: 20%;
    background: #fff;
    overflow-y: scroll;}
  
.container_boxes_1{
  padding: 0px;
  margin: 10px -21px 0px -21px;
  text-align: center;}  

.card{
    padding: 0px 0px 11px 0px;}

.box-card{
  width: 100%; 
  height: 100%;
  padding: 12px 1.5px !important;
  border-radius: 10px;}


.box-numbers{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 5;
    font-weight: bold;
    margin: -6px 0px -10px 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;}  
    
.box-numbers_1{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 5;
    font-weight: bold;
    margin: 0px 0px -4px 17px;
    padding: 0px;
    justify-content: center;
    align-items: center;}      
    

.box-compa{
  text-align: center;
  position: relative;
  float: left;
  color: aliceblue;
  margin: -7px 0px 0px 2px;
  font-size: 13px;
  top: 5px;}

.box-metrica{
  color: aliceblue;;
 margin: 5px 0px 0px 5px;
  position: relative;
  float: right;
  z-index: 3;
  font-size: 22px;}

.box-letra{
  color: aliceblue;;
    margin: -27px 2px 6px 0px;
  text-align: center;
  font-size: 18px; }    

.box-total{
  color: aliceblue;
  margin: -8px 0px -8px 5px;
  font-size: 22px;}

  .box-icon{ 
    z-index: -3;
    opacity: 0.5;
    position: relative;
    color: aliceblue;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.6s; }
    
    .box-orden{
    margin: -12px 175px 22px 0px;
    color: aliceblue;
    font-size: 16px;}
    
    .card:hover .box-icon {  
     font-size:24px;}    
    
  .container-box-map{
     display: flex;
     flex-wrap: wrap;
     grid-auto-rows: auto;
     flex-direction: column;
     padding: 0px !important;
     margin: 0px -14px 0px 9px;
     width: 85%;}
    
.container_all{
  margin: -1px 3px 0px -23px;
   overflow-y: scroll;}

   
.box-map{   
    margin: 13px 0px 0px -12px;
    width: 23%;
    opacity: 0.8;
    z-index: 1000;
    height: 790px;
    position: absolute;
    overflow-y: scroll;
    left: 79.7%;}    
  
@media (max-width: 768px) {
  .box-map {
    width: 48%;
    margin: 17px 0px 0px -120px;
    opacity: 0.8;
    right: 0px;
    overflow-y: hidden;
    position: absolute;
    overflow-y: scroll;
  }
}

.box-sub_letra{
  font-size: 13px;
  color: white;
  text-align: center;}





     